/* setup styles */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block; }
  
  audio, canvas, video {
    display: inline-block; }
  
  audio:not([controls]) {
    display: none;
    height: 0; }
  
  [hidden] {
    display: none; }
  
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }
  
  a:focus {
    outline: thin dotted; }
  
  a:active, a:hover {
    outline: 0; }
  
  h1 {
    font-size: 2em; 
    text-transform: uppercase;}
  
  abbr[title] {
    border-bottom: 1px dotted; }
  
  b, strong {
    font-weight: 700; }
  
  dfn {
    font-style: italic; }
  
  mark {
    background: #ff0;
    color: #000; }
  
  code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em; }
  
  pre {
    white-space: pre-wrap;
    word-wrap: break-word; }
  
  q {
    quotes: \201C \201D \2018 \2019; }
  
  small {
    font-size: 80%; }
  
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  
  sup {
    top: -.5em; }
  
  sub {
    bottom: -.25em; }
  
  img {
    border: 0; }
  
  svg:not(:root) {
    overflow: hidden; }
  
  fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em; }
  
  button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0; }
  
  button, input {
    line-height: normal; }
  
  button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer; }
  
  button[disabled], input[disabled] {
    cursor: default; }
  
  input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  
  input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none; }
  
  textarea {
    overflow: auto;
    vertical-align: top; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  body, figure {
    margin: 0; }
  
  legend, button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0; }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  /* global styles */
  @-webkit-keyframes wasp {
    0% {
      top: 20px; }
    10%, 30%, 50%, 70%, 90% {
      margin-left: 10%; }
    50% {
      top: 82%; }
    20%, 40%, 60%, 80% {
      margin-left: 30%; }
    100% {
      top: 20px; } }
  @keyframes wasp {
    0% {
      top: 20px; }
    10%, 30%, 50%, 70%, 90% {
      margin-left: 10%; }
    50% {
      top: 75%; }
    20%, 40%, 60%, 80% {
      margin-left: 30%; }
    100% {
      top: 20px; } }
  
  @-webkit-keyframes bigWasp {
    0% {
      top: 20%; }
    25% {
      top: 50%; }
    10%, 30%, 50%, 70%, 90% {
      left: 20%; }
    20%, 40%, 60%, 80% {
      left: 80%; }
    75% {
      top: 75%; }
    100% {
      top: 20%; } }
  
  @keyframes bigWasp {
    0% {
      top: 20%; }
    25% {
      top: 50%; }
    10%, 30%, 50%, 70%, 90% {
      left: 20%; }
    20%, 40%, 60%, 80% {
      left: 80%; }
    75% {
      top: 75%; }
    100% {
      top: 20%; } }
  
  body {
    margin: 0;
    cursor: none;
    font-family: 'Josefin Sans', sans-serif; }
  
  img {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 20; }
  
  #field {
    /* cursor: none; */
    height: calc(100vh);
    /* background-color: rgb(54, 163, 99); */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 247, 68, 0.3)), to(rgba(0, 0, 0, 0.6))), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2ZsO3qgWlDHeyCAQEiQwvf8f_uht6hMigFtHVhfZj9rguVyyGjg");
    background-image: -webkit-linear-gradient(rgba(68, 247, 68, 0.3), rgba(0, 0, 0, 0.6)), field = url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2ZsO3qgWlDHeyCAQEiQwvf8f_uht6hMigFtHVhfZj9rguVyyGjg");
    background-image: -o-linear-gradient(rgba(68, 247, 68, 0.4), rgba(0, 0, 0, 0.4)), field = url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2ZsO3qgWlDHeyCAQEiQwvf8f_uht6hMigFtHVhfZj9rguVyyGjg");
    align-items: center;background-image: linear-gradient(rgba(68, 247, 68, 0.4), rgba(0, 0, 0, 0.4)), field = url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2ZsO3qgWlDHeyCAQEiQwvf8f_uht6hMigFtHVhfZj9rguVyyGjg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
    position: absolute; }
  
  .flower {
    position: absolute;
    height: 100px;
    width: 100px;
    background: #f76e44;
    -webkit-clip-path: polygon(50% 0%, 77% 28%, 100% 0, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0 0, 26% 27%);
    clip-path: url(#flowerClip);
    top: 300px;
    left: 400px; }
  
  #flower1 {
    top: 300px;
    left: 100px;
    background: #b700ff;
    /* color: rgb(227, 252, 0); */ }
  
  #flower2 {
    top: 200px;
    left: 300px;
    background: #fafa8f;
    /* background: red; */ }
  
  #flower3 {
    top: 100px;
    left: 600px;
    /* background: blue */ }
  
  .flower:hover {
    /* background: lighten(); */
    /* background: rgba(254, 255, 255, 0.767); */
    -webkit-filter: brightness(85%);
    filter: brightness(85%); }
  
  .wasp {
    position: absolute;
    z-index: 30;
    font-size: 4rem;
    -webkit-animation: wasp 5s forwards ease-in-out infinite;
    animation: wasp 5s forwards ease-in-out infinite; }
  
  .wasp1 {
    left: 5%;
    -webkit-animation-duration: 8s;
    animation-duration: 8s; }
  
  .wasp2 {
    left: 20%;
    -webkit-animation-duration: 10s;
    animation-duration: 10s; }
  
  .wasp3 {
    left: 40%;
    -webkit-animation-duration: 4s;
    animation-duration: 4s; }
  
  .wasp4 {
    left: 60%;
    -webkit-animation-duration: 6s;
    animation-duration: 6s; }
  
  .bigWasp {
    background-image: url(https://freeclipartimage.com//storage/upload/wasp-clipart/wasp-clipart-1.png);;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    min-width: 100px;
    left: 50%;
    top: 50%;
    position: absolute;
    /* z-index: 30; */
    font-size: 5rem;
    -webkit-animation: bigWasp 20s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    animation: bigWasp 20s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    /* animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); */
    /* animation-duration: 20s; */ }
  
  /* header styles */
  header, footer {
    margin: 10px 35px;
    border: 3px solid transparent;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-items: center;
    z-index: 50; }
  
  header, footer, aside {
    color: white;
    background: rgba(30, 110, 30, 0.671);
    text-shadow: 2px 2px 5px #001f08; }
  
  p {
    margin: 0; }
  
  h2 {
    margin: 0;
    text-transform: uppercase; }
  
  span {
    color: #f76e44;
    margin-left: 10px;
    font-weight: 700; }
  
  .flashRed {
      border: 3px solid rgba(247, 110, 68, 0.705);
  }
  
  /* footer styles */
  #konamiEgg {
    color: red;
  }
  
  footer {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 70px); }
  
  a {
    color: white; }
  
  aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    background: rgba(16, 85, 16, 0.671);
    text-align: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 50;
    bottom: -100vh;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    aside h1 {
      font-size: 4rem;
      margin-top: 0; }
    aside p {
      font-size: 2rem;
      margin-bottom: 50px; }
    aside a, aside button {
      border: none;
      text-decoration: none;
      text-shadow: 2px 2px 5px #001f08;
      padding: 20px;
      background: #5c0080;
      color: white; 
      font-size: 1.1rem;
      margin: 0 3px;
      border-radius: 50px;
      border: 2px solid rgb(247, 110, 68);}
    aside div {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0px 50px 50px 50px; }