body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #6871f1;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.output {
    background-color: #222;
    text-align: right;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.result {
    font-size: 24px;
    color: white;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button {
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
